{% extends "base.html" %}

{% block content %}
	<div class="row" style="margin-top: 60px">
	{% if cart_empty %}
		<h1>{{message}}</h1>
	{% else %}
		<div class="cart">
			<table class="table">
				<thead>
					<th>Item</th>
					<th>Item Price</th>
					<th>Variations</th>
					<th>Qty</th>
				</thead>
				{% for item in cart.cartitem_set.all %}
					<tr>
						<td>
							This is {{item.product}}
							<ul>
								{% for v in  item.variations.all %}
									{{v}}
								{% endfor %}
							</ul>
						</td>
						<td>{{item.product.price}}</td>
						<td>{{item.quantity}}</td>
						<td><a href="{% url 'remove_from_cart' item.id %}">Remove</a></td>
					</tr>
				{% endfor %}
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td>Total: {{cart.total}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<a href="{% url 'checkout' %}"><button class="btn btn-primary pull-right">Checkout</button></a>
	{% endif %}
	</div>
{% endblock %}